[submodule "ext/prism"]
	path = ext/prism
	url = https://github.com/ruby/prism
[submodule "ext/onigmo"]
	path = ext/onigmo
	url = https://github.com/k-takata/Onigmo
[submodule "ext/tinycc"]
	path = ext/tinycc
	url = https://github.com/TinyCC/tinycc
[submodule "ext/rubygems"]
	path = ext/rubygems
	url = https://github.com/ruby/rubygems.git
[submodule "ext/logger"]
	path = ext/logger
	url = https://github.com/ruby/logger
[submodule "ext/time"]
	path = ext/time
	url = https://github.com/ruby/time
[submodule "ext/optparse"]
	path = ext/optparse
	url = https://github.com/ruby/optparse
